accelerate @ git+https://github.com/huggingface/accelerate.git@d1aa558119859c4b205a324afabaecabd9ef375e
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Brotli @ file:///croot/brotli-split_1714483155106/work
certifi @ file:///croot/certifi_1707229174982/work/certifi
charset-normalizer @ file:///tmp/build/80754af9/charset-normalizer_1630003229654/work
click==8.1.7
cloudpickle==3.0.0
datasets==2.10.1
decorator==5.1.1
deepspeed @ file:///mnt/petrelfs/zhangyuhan/workspace/Pick3D/DeepSpeed
dill==0.3.6
docker-pycreds==0.4.0
exceptiongroup==1.2.1
executing==2.0.1
filelock @ file:///croot/filelock_1700591183607/work
fire==0.4.0
frozenlist==1.4.1
fsspec==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2 @ file:///tmp/build/80754af9/gmpy2_1645438755360/work
hjson==3.1.0
huggingface-cli==0.1
huggingface-hub==0.23.0
hydra-core==1.3.2
idna @ file:///croot/idna_1714398848350/work
ipdb==0.13.13
ipython==8.18.1
jedi==0.19.1
Jinja2 @ file:///croot/jinja2_1706733616596/work
markdown-it-py==2.2.0
MarkupSafe @ file:///croot/markupsafe_1704205993651/work
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-fft @ file:///croot/mkl_fft_1695058164594/work
mkl-random @ file:///croot/mkl_random_1695059800811/work
mkl-service==2.4.0
mpmath @ file:///croot/mpmath_1690848262763/work
multidict==6.0.5
multiprocess==0.70.14
networkx @ file:///croot/networkx_1690561992265/work
ninja==1.11.1.1
numpy @ file:///croot/numpy_and_numpy_base_1708638617955/work/dist/numpy-1.26.4-cp39-cp39-linux_x86_64.whl#sha256=6094eeedd869502faa0fd0a8c5ad3a70c5779be06ddd1feb7627e5c212fac420
nvidia-ml-py==12.550.52
omegaconf==2.3.0
packaging==24.0
pandas==2.2.2
parso==0.8.4
pathtools==0.1.2
pexpect==4.9.0
pillow @ file:///croot/pillow_1714398848491/work
promise==2.3
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pydantic==1.10.9
pydantic_core==2.18.2
Pygments==2.18.0
PySocks @ file:///tmp/build/80754af9/pysocks_1605305812635/work
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML @ file:///croot/pyyaml_1698096049011/work
regex==2024.5.15
requests @ file:///croot/requests_1707355572290/work
responses==0.18.0
rich==13.3.2
sentry-sdk==2.2.0
setproctitle==1.3.3
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
stack-data==0.6.3
submitit==1.4.5
sympy @ file:///croot/sympy_1701397643339/work
termcolor==2.4.0
tokenizers==0.13.3
tomli==2.0.1
torch==1.12.1+cu113
torchaudio==0.12.1+cu113
torchvision==0.13.1+cu113
tqdm==4.66.4
-e git+https://github.com/yuvalkirstain/PickScore.git@c7941ee5574cf6597f1911dfaee06043f6696a8f#egg=trainer
traitlets==5.14.3
transformers==4.27.3
triton==2.3.0
typing_extensions @ file:///croot/typing_extensions_1715268824938/work
tzdata==2024.1
urllib3 @ file:///croot/urllib3_1715635851070/work
wandb==0.12.21
wcwidth==0.2.13
xxhash==3.4.1
yarl==1.9.4
