accelerate @ git+https://github.com/huggingface/accelerate.git@d1aa558119859c4b205a324afabaecabd9ef375e
aiohttp==3.9.5
aiosignal==1.3.1
annotated-types==0.6.0
antlr4-python3-runtime==4.9.3
asttokens==2.4.1
async-timeout==4.0.3
attrs==23.2.0
Brotli
certifi
charset-normalizer
click==8.1.7
cloudpickle==3.0.0
datasets==2.10.1
decorator==5.1.1
deepspeed
dill==0.3.6
docker-pycreds==0.4.0
exceptiongroup==1.2.1
executing==2.0.1
filelock
fire==0.4.0
frozenlist==1.4.1
fsspec==2024.5.0
gitdb==4.0.11
GitPython==3.1.43
gmpy2
hjson==3.1.0
hydra-core==1.3.2
idna
ipdb==0.13.13
ipython==8.18.1
jedi==0.19.1
Jinja2
markdown-it-py==2.2.0
MarkupSafe
matplotlib-inline==0.1.7
mdurl==0.1.2
mkl-fft
mkl-random
mkl-service==2.4.0
mpmath
multidict==6.0.5
multiprocess==0.70.14
networkx
ninja==1.11.1.1
numpy
nvidia-ml-py==12.550.52
omegaconf==2.3.0
packaging==24.0
pandas==2.2.2
parso==0.8.4
pathtools==0.1.2
pexpect==4.9.0
pillow
promise==2.3
prompt-toolkit==3.0.43
protobuf==3.20.3
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
py-cpuinfo==9.0.0
pyarrow==16.1.0
pydantic==1.10.9
pydantic_core==2.18.2
Pygments==2.18.0
PySocks
python-dateutil==2.9.0.post0
pytz==2024.1
PyYAML
regex==2024.5.15
requests
responses==0.18.0
rich==13.3.2
sentry-sdk==2.2.0
setproctitle==1.3.3
shortuuid==1.0.13
six==1.16.0
smmap==5.0.1
stack-data==0.6.3
submitit==1.4.5
sympy
termcolor==2.4.0
tokenizers==0.13.3
tomli==2.0.1
tqdm==4.66.4
-e git+https://github.com/yuvalkirstain/PickScore.git@c7941ee5574cf6597f1911dfaee06043f6696a8f#egg=trainer
traitlets==5.14.3
transformers==4.27.3
triton==2.3.0
typing_extensions
tzdata==2024.1
urllib3
wandb==0.12.21
wcwidth==0.2.13
xxhash==3.4.1
yarl==1.9.4
